.html {
    height: 100%;
    width: 100%;    
     
}

body {
    background-size: cover;
    font-family: sans-serif;
    margin-top: 100px;
    padding: 30px;
}

.colorFlipper {
    color: brown;       
}

.nav-center {
    /* background-color: green;     */
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    
}

nav * { 
    margin-top: 20px;   
    margin-left: 20px;
    display: inline;
}

nav li {    
    margin: 20px;
}

nav li a {
    color: black;
    text-decoration: none;
}

.container {    
    /* display: grid;   */
    /* background-color: orange;    */
    text-align: center;
    font-size: 60px;     
} 

.btn-hero {
    border-radius: 12px;
    padding: 20px;
    background-color:purple;    
    color: white;  
}

.container h4 {
    margin: 30px;       
    border-radius: 10px;
    padding: 30px;
    background-color: orange;
}

.hex-btn-hero {
    border-radius: 10px;    
    padding: 15px;  
    background-color: transparent;
    width: 200px;    
}